In [1]:
!wget --no-check-certificate https://drive.google.com/uc?id=1zBM3idCNWceBMLKMRBTN8aVFAg5U_YH7 -O Sachin_ODI.csv

--2024-11-25 17:44:54--  https://drive.google.com/uc?id=1zBM3idCNWceBMLKMRBTN8aVFAg5U_YH7
Resolving drive.google.com (drive.google.com)... 172.217.214.139, 172.217.214.101, 172.217.214.100, ...
Connecting to drive.google.com (drive.google.com)|172.217.214.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1zBM3idCNWceBMLKMRBTN8aVFAg5U_YH7 [following]
--2024-11-25 17:44:55--  https://drive.usercontent.google.com/download?id=1zBM3idCNWceBMLKMRBTN8aVFAg5U_YH7
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.251.184.132, 2607:f8b0:4001:c66::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.251.184.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26440 (26K) [application/octet-stream]
Saving to: ‘Sachin_ODI.csv’

Sachin_ODI.csv      100%[===================>]  25.82K  --.-KB/s    in 0s

2024-11-25 17:44:57 (68.5 MB/s) - ‘Sachin_ODI.csv’ saved [26440/26440]

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_sachin = pd.read_csv('Sachin_ODI.csv')

In [4]:
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [5]:
df_sachin.shape

(360, 14)

Q1. A match is randomly chosen, what is the probability that India have won that match?

In [6]:
len(df_sachin.loc[df_sachin['Won']==True])

184

In [7]:
len(df_sachin)

360

In [8]:
Prob_win=len(df_sachin.loc[df_sachin['Won']==True]) / len(df_sachin)
Prob_win

0.5111111111111111

Q2. A match is chosen at a random, what is the probability that Sachin has scored a Century in that match?

In [9]:
df_sachin["century"].value_counts()

century
False    314
True      46
Name: count, dtype: int64

In [11]:
46/360

0.12777777777777777

In [12]:
#Q3.
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
Name: count, dtype: int64

In [13]:
#pd.crosstab() #contigency table
pd.crosstab(index=df_sachin["century"],
            columns=df_sachin["Won"],
            margins=True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360

In [14]:
30/360

0.08333333333333333